<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>
<body>
 <h1>Current Rappers</h1>
 <ul class="rappers">
  <% for(let i=0; i < info.length; i++) {%>
   <li class="rapper">
    <span><%= info[i].name %></span>
    <span><%= info[i].birthName %></span>
    <span><%= info[i].likes %></span>
    <span class="fa fa-thumbs-up"></span>
    <span class="fa fa-trash"></span>
   </li>
  <% } %>
 </ul>
 
 <script src="/projects/rap-names-api/public/js/main.js"></script>
</body>
</html>